<div class="disclaimer wrapper">
  <div class="inner">
    <div>
      <b><%= __('NB!') %></b>
      <%= __('The Connie web app is currently in early stage development v0.01.')%>
    </div>
    <div class="disclaimer__link">
      <a target="_blank"
        href="<%- urls.privacyPolicy %>"><%= __('Learn how your data is processed here!') %></a>
    </div>
  </div>
</div>
